/* App.css deleted, will do all styling in index.css - Mat Kennedy */

/* fonts */
@font-face {
    font-family: cleanUp;
    src: url(../assets/fonts/cleanup.ttf);
}

#myThreeJsCanvas {
    background-image: radial-gradient(rgb(34, 40, 66),black);
    background-repeat: no-repeat;
}

/* top nav bar and title */
.navbar-container {
    font-family: cleanUp;
    color: rgb(247, 229, 173);
}

#mk {
    color: rgb(247, 229, 173);
    font-size: 4.4rem;
}

#mk::after {
    position: absolute;
    content: '';
    width: 30%;
    height: 1px;
    background-color: rgb(83, 115, 128);
    left: 50%;
    transform: translateX(-50%);
    top: 6.3rem;
}

#blog-title {
    color: rgb(156, 214, 236);
    font-size: 4rem;
    line-height: 3rem;
}


/* Model Description Modal */

.model-description-panel-container {
    position: fixed;
    bottom: 0;
    width: 30rem;
    height: 30rem;
    display: grid;
    align-items: center;
    justify-content: start;
    padding: 0rem;
    padding-bottom: 2rem;
    z-index: 2;
}

.model-description-panel {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: start;
    height: 100%;
    width: 100%;
    color: black;
    background-color: rgb(212, 201, 166);
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
    overflow: hidden;
    padding: .5rem;
}

.model-title {
    position: relative;
    display: grid;
    align-items: center;
    margin-top: 0.3rem;
    font-size: 2rem;
    font-family: cleanUp;
    font-weight: bold;
}

.model-description {
    margin-top: .8rem;
    font-size: 1rem;
    position: relative;
    width: 95%;
    height: 90%;
    overflow-y: scroll;
}

/* Hide scroll bars on description, will add nice custom arrows as scroll hints later */
.model-description::-webkit-scrollbar {
    width: 0;
}


/* Navigation arrows */
#moveLeft,
#moveRight {
    cursor: pointer;
    position: absolute;
    height: 0;
    width: 0;
    border: .6rem solid transparent;
}

#moveLeft {
    left: -2rem;
    border-right: .6rem solid black;
}

#moveRight {
    right: -2rem;
    border-left: .6rem solid black;
}

/* queries */

/* Description panel moves from side to bottom below certain width and height */
@media only screen and (max-width: 1730px) {
    .model-description-panel-container {
        width: 100%;
        height: 30%;
        place-items: center;
    }

    .model-description-panel {
        width: 50%;
        min-width: 700px;
    }
}


/* Description panel goes full width on smaller phone screens */
@media only screen and (max-width: 730px), (max-height: 800px) and (max-width: 1200px) {
    .model-description-panel-container {
        padding: 0;
    }

    .model-description-panel {
        width: 100%;
        min-width: auto;
    }

}

/* Description and title font sizes for height and width */
@media only screen and (max-width:1330px), (max-height: 820px) and (min-width: 1200px){
    
    .model-title {
        font-size: 1.8rem;
    }

    .model-description {
        font-size: .8rem;
    }
}

/* landscape below 550 height, description snaps left again with way smaller font for horizontal small phones */
@media only screen and (max-height: 550px) and (orientation: landscape){
    .model-description-panel-container {
        width: 30%;
        height: 60%;
        min-height: 235px;
    }
}

/* Header and title shrinks, horizontal breakpoints */
@media only screen and (max-width: 1050px){
    #mk {
        font-size: 3.4rem;
    }

    #blog-title {
        font-size: 3.2rem;
        line-height: 3rem;
    }

    #mk::after {
        top: 5.4rem;
    }
}

@media only screen and (max-width: 840px){
    #mk {
        font-size: 2.6rem;
    }

    #blog-title {
        font-size: 2.6rem;
        line-height: 2rem;
    }

    #mk::after {
        top: 4.5rem;
    }
}

