/* fonts */
@font-face {
    font-family: cleanUp;
    src: url(../src/assets/fonts/cleanup.ttf);
}

/* body overflow */
body {
    overflow: hidden;
}

/* preloader */
#preloader {
    position: fixed;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(19, 19, 29);
    z-index: 9999;
    transition: opacity 1s;
}
#preloader-spinner {
    position: absolute;
    height: 5rem;
    width: 5rem;
    border-top: 2px solid bisque;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* preloader spin animation */
@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

/* canvas */
#myThreeJsCanvas {
    background-image: radial-gradient(rgb(34, 40, 66),black);
    background-repeat: no-repeat;
}

/* top nav bar and title */
.navbar-container {
    font-family: cleanUp;
    color: rgb(247, 229, 173);
}

#mk {
    color: rgb(247, 229, 173);
    font-size: 4.4rem;
}

#mk::after {
    position: absolute;
    content: '';
    width: 30%;
    height: 1px;
    background-color: rgb(83, 115, 128);
    left: 50%;
    transform: translateX(-50%);
    top: 6.3rem;
}

#blog-title {
    color: rgb(156, 214, 236);
    font-size: 4rem;
    line-height: 3rem;
}


/* Model Description Modal */
.model-description-panel-container {
    position: fixed;
    bottom: 0;
    width: 30rem;
    display: grid;
    align-items: center;
    justify-content: start;
    padding: 0rem;
    z-index: 2;
    transition: height .5s;
}

#hide-show-description {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.down-arrow {
    border: .3rem solid transparent;
    border-top: .3rem solid black;
}

.up-arrow {
    border: .3rem solid transparent;
    border-bottom: .3rem solid black;
}

/* util rulesets for shown / hidden description */
.description-showing {
    height: 30rem;
}

.description-hidden {
    height: 4rem !important;
    min-height: 0 !important;
}

.model-description-panel {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: start;
    height: 100%;
    width: 100%;
    color: black;
    background-color: rgb(212, 201, 166);
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
    overflow: hidden;
    padding: .5rem;
}

.model-title {
    position: relative;
    display: grid;
    align-items: center;
    margin-top: 0.3rem;
    font-size: 2rem;
    font-family: cleanUp;
    font-weight: bold;
}

.model-description {
    margin-top: .8rem;
    font-size: 1rem;
    position: relative;
    width: 95%;
    height: 90%;
    overflow-y: scroll;
}

/* Hide scroll bars on description, will add nice custom arrows as scroll hints later */
.model-description::-webkit-scrollbar {
    width: 0;
}


/* Navigation arrows */
#moveLeft,
#moveRight {
    cursor: pointer;
    position: absolute;
    height: 0;
    width: 0;
    border: .6rem solid transparent;
}

#moveLeft {
    left: -2rem;
    border-right: .6rem solid black;
}

#moveRight {
    right: -2rem;
    border-left: .6rem solid black;
}

/* planet slider and perceptron buttons */
.slider-component, #pButtonsContainer {
    position: fixed;
    height: auto;
    width: auto;
    right: 1rem;
    top: 2rem;
}

#planet-slider {
    -webkit-appearance: none;
    appearance: none;
    height: .2rem;
    border-radius: .25rem;
    width: 8rem;
    background-color: rgb(118, 200, 214);
}

#planet-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 36px;
    height: 36px;
    background-image: url('../src/assets/images/SaturnThumb.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#pButtonsPanel {
    background-color: black;
    color: bisque;
    border: 1px solid bisque;
    border-radius: 2px;
    padding: .2rem;
    font-family: cleanUp;
    font-size: 1.4rem;
}

.perceptron-view-button {
    background-color: black;
    color: bisque;
}

/* slide to animate and perceptron learn more text */
.slide-to-animate , .perceptronLearnMore{
    position: absolute;
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    color: rgb(156, 214, 236);
    font-family: cleanUp;
    bottom: -3rem;
    animation: textFlash 2s linear infinite;
}

/* Slide to animate fade in and out */
@keyframes textFlash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* queries */

/* Description panel moves from side to bottom below certain width and height */
@media only screen and (max-width: 1730px) {
    .model-description-panel-container {
        width: 100%;
        height: 30%;
        place-items: center;
    }

    .model-description-panel {
        width: 50%;
        min-width: 700px;
    }
}


/* Description panel goes full width on smaller phone screens */
@media only screen and (max-width: 730px), (max-height: 800px) and (max-width: 1200px) {
    .model-description-panel-container {
        padding: 0;
    }

    .model-description-panel {
        width: 100%;
        min-width: auto;
    }

}

/* Description and title font sizes for height and width */
@media only screen and (max-width:1330px), (max-height: 820px) and (min-width: 1200px){
    
    .model-title {
        font-size: 1.8rem;
    }

    .model-description {
        font-size: .8rem;
    }
}

/* landscape below 550 height, description snaps left again with way smaller font for horizontal small phones */
@media only screen and (max-height: 550px) and (orientation: landscape){
    .model-description-panel-container {
        width: 30%;
        height: 60%;
        min-height: 235px;
    }
}

/* Header and title shrinks, horizontal breakpoints */
@media only screen and (max-width: 1050px){
    #mk {
        font-size: 3.4rem;
    }

    #blog-title {
        font-size: 3.2rem;
        line-height: 3rem;
    }

    #mk::after {
        top: 5.4rem;
    }
}

@media only screen and (max-width: 840px){
    #mk {
        font-size: 2.6rem;
    }

    #blog-title {
        font-size: 2.6rem;
        line-height: 2rem;
    }

    #mk::after {
        top: 4.5rem;
    }
}

